.header-slider-aboutus {
    background: url('/assets/image/parallax-3-1.jpg') top center / cover no-repeat;
    height: 50vh;
    background-position: 0 50%;
}

.about-content {
    margin-top: 64px;
}

.about-content-title {
    font-size: 48px;
    font-weight: 600;
    color: rgb(71, 71, 71);
    text-align: right;
}

.about-content-descr {
    line-height: 36px;
    font-size: 18px;
    color: rgb(141, 141, 141);
}

.about-content-descr:last-child {
    margin-top: 20px;
}

.about-content-video{
    width: 800px;
    height: 500px;
    margin: auto; 
    position: relative;  
}

.about-content-video-item {
    width: 100%;
    height: 100%;
}

.about-content-video-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about-content-video-img-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.about-content-member {
    margin: 64px 0;
    position: relative;
}

.about-content-member-img {
    width: 100%;
    height: 88vh;
    filter: brightness(0.8);
}

.about-content-member-topic {
    position: absolute;
    top: 7%;
    left: 50%;
    text-align: center;
    right: 4%;
}

.about-content-member-heading {
    font-size: 44px;
    color: var(--white-color);
    margin-bottom: 20px;
}

.about-content-member-content {
    line-height: 28px;
    color: var(--white-color);
    font-size: 14px;
    letter-spacing: 2px;
}

.about-content-member-btn {
    background-color: #f3a46b;
    color: var(--white-color);
    padding: 14px 44px;
    border-radius: 32px;
    display: inline-block;
    text-decoration: none;
    margin-top: 24px;
}

.member {
    position: relative;
    height: 450px;
}

.about-content-member-list {
    position: absolute;
    top: -10%;
    width: 100%;
}

.about-content-member-list-item {
    text-align: center;
}

.about-content-member-list-img {
    width: 100%;
}

.about-content-member-list-name {
    font-size: 28px;
    color: rgb(61, 61, 61);
    margin-top: 20px;
}

.about-content-member-list-position {
    font-size: 12px;
    color: rgb(107, 107, 107);
    letter-spacing: 2px;
    margin: 8px;
}

.about-content-member-list-descr {
    margin-top: 16px;
    color: rgb(126, 126, 126);
    letter-spacing: 1px;
    line-height: 24px;
}   

.about-content-member-list-btn {
    text-decoration: none;
    color: rgb(177, 177, 177);
    border:1px solid #ddd;
    display:inline-block;
    margin-top: 24px;
}

.about-content-destination {
    
}

.about-content-destination-subheading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(177, 177, 177);
}

.about-content-destination-heading {
    text-align: center;
    margin-bottom: 64px;
    color: rgb(80, 80, 80);
    font-size: 36px;
}

.about-content-destination-list-item {
    margin-bottom: 16px;
    display: flex;
}

.about-content-destination-list-dotted {
    height: 2px;
    flex: 1;
    border-bottom: 1px dashed rgb(199, 199, 199);
    margin-top: 12px;
}

.about-content-destination-list-heading {
    font-size: 16px;
    color: rgb(70, 70, 70);
}

.about-content-destination-heading-u {
    text-decoration-color: aqua;
    text-decoration-style: unset;
}

.about-content-destination-list-price {
    font-size: 18px;
    color: rgb(95, 95, 95);
}

.about-content-destination-list-descrip-new {
    padding: 4px 16px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.about-content-destination-list-descrip {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    color: rgb(165, 165, 165);
    font-size: 14px;
    letter-spacing:1px;
}

.about-content-destination-list-descrip-new-red.about-content-destination-list-descrip-new {
    background-color: rgb(230, 15, 15);
    border: none;
    color: var(--white-color);
}

.about-content-destination-list-descrip-new-yellow {
    background-color: rgb(223, 184, 12);
    border: none;
    color: var(--white-color);
}

.about-content-destination-list-descrip-new-violet {
    background-color: rgb(121, 12, 223);
    border: none;
    color: var(--white-color);
}

.about-content-destination-list-descrip-new-blue {
    background-color: rgb(12, 128, 223);
    border: none;
    color: var(--white-color);
}

.about-content-destination-list-descrip-new-green {
    background-color: rgb(12, 223, 107);
    border: none;
    color: var(--white-color);
}

.about-content-destination-quantity {
    display: flex;
    background:  url('/assets/image/p-10.jpg') center / cover no-repeat;
    height: 50vh;
    background-position: 100% 20%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 36px;
    filter: brightness(0.9);
}


.about-content-destination-quantity-item-quantity {
    font-size: 40px;
    font-weight: 800;
    color: var(--white-color);
}

.about-content-destination-quantity-item-title {
    font-size: 14px ;
    color: var(--white-color);
}




